.footer {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #f9f9f9;
  color: #333;
}

.footer-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-name span {
  color: #000;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
  list-style: none;
  padding: 0;
}

.footer-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #00cfff;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.footer-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 45px;
  color: #333;
  font-size: 1.2rem;
  transition: transform 0.3s, background 0.3s;
}

.footer-icons a:hover {
  transform: translateY(-5px);
  background-color: #00cfff;
  color: white;
}

.footer-copy {
  font-size: 0.9rem;
  color: #555;
}

.footer-copy a {
  color: #3b49df;
  text-decoration: none;
}

.footer-copy a:hover {
  text-decoration: underline;
}
